apiVersion: apps/v1
kind: Deployment
metadata:
  name: agree-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: agree-postgres
  template:
    metadata:
      labels:
        app: agree-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          env:
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              value: postgres
            - name: POSTGRES_DB
              value: agro_db
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: pgdata
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: pgdata
          emptyDir: {}
