replicaCount: 1

image:
  repository: iscomarcuz/agro-app
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: false
  className: nginx
  host: agro.local
  path: /
